name: AUR Publish
on:
  push:
    branches: main

jobs:
  aur-publish:
    runs-on: ubuntu-latest
    environment: AUR
    steps:
      - uses: actions/checkout@v4
      - uses: varrcan/aur-publish-action@v1
        with:
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          package_name: s3lightfixes-git
          git_username: magicaldave
          git_email: corleycomputerrepair@protonmail.ch

      - name: Detect Release URL
        id: detect
        shell: bash
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "release_name=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            echo "release_name=development" >> $GITHUB_OUTPUT
          fi

      - name: Discord Webhook Action
        uses: tsickert/discord-webhook@v7.0.0
        with:
          username: ${{ github.event.repository.name }}-Daemon
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          content: |
            [${{ github.event.repository.name }}](https://github.com/DreamWeave-MP/S3LightFixes/releases/tag/${{ steps.detect.outputs.release_name }}) has been updated to ${{ github.ref_name }} GitHub and the AUR.
