name: DreamWeave Webhook

on:
  workflow_run:
    workflows: [Third Party Publish]
    types: completed

jobs:
  discord-notify:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Discord Notification
    runs-on: ubuntu-latest

    steps:
      - name: Detect Release URL
        id: detect
        shell: bash
        run: |
          echo "release_time=$(date "+%F %T")" >> $GITHUB_OUTPUT

          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "release_name=${{ github.ref_name }}" >> $GITHUB_OUTPUT
            echo "display_name=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            github_sha_hash=${{ github.sha }}
            echo "release_name=development" >> $GITHUB_OUTPUT
            echo "display_name=${github_sha_hash:0:7}" >> $GITHUB_OUTPUT
          fi

      - name: Discord Webhook Action
        uses: tsickert/discord-webhook@v7.0.0
        with:
          username: DreamWeave
          webhook-url: ${{ secrets.DW_TOOLS_CHANNEL_WEBHOOK }}
          avatar-url: "https://avatars.githubusercontent.com/u/138459727?s=400&u=827e40e3dd9c110c15b3bff26eec0144841e657d&v=4"
          embed-title: "${{ github.event.repository.name }} has been updated."
          embed-description: "[${{ steps.detect.outputs.display_name }}](https://github.com/${{ github.repository }}/releases/tag/${{ steps.detect.outputs.release_name }}) is now available on GitHub and the AUR."
          embed-footer-text: "Workflow: ${{ github.run_id }} by: ${{ github.triggering_actor }} at: ${{ steps.detect.outputs.release_time }}"
