name: Third Party Publish

on:
  workflow_run:
    workflows: Corprus Crucible Manufacturing
    types: completed

jobs:
  aur-publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: AUR
    steps:
      - uses: actions/checkout@v4
      - uses: varrcan/aur-publish-action@v1
        with:
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          package_name: s3lightfixes-git
          git_username: magicaldave
          git_email: corleycomputerrepair@protonmail.ch
