name: Corprus Crucible Manufacturing

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: main
    tags: ['*']

jobs:
  release:
    strategy:
      matrix:
        os: [macos-latest, macos-15-intel, ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    permissions:
      contents: write
      id-token: write
    
    steps:
      - uses: actions/checkout@v4

      - name: Ensure Clean Release
        uses: ./.github/workflows/createRelease.yml
        secrets: inherit
      
      - name: Run Corprus Crucible
        uses: DreamWeave-MP/StroggForge/.github/actions/corprus-crucible@main
        with:
          binary_name: s3lightfixes
          vt_api_key: ${{ secrets.VT_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  aur-publish:
    env:
      AUR_PACKAGE_NAME: s3lightfixes-git

    outputs:
      pkg_name: ${{ env.AUR_PACKAGE_NAME }}

    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    needs: release
    environment: AUR
    steps:
      - uses: actions/checkout@v4
      - uses: varrcan/aur-publish-action@v1
        with:
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          package_name: ${{ env.AUR_PACKAGE_NAME }}
          git_username: magicaldave
          git_email: corleycomputerrepair@protonmail.ch

  call-discord-webhook:
    if: success() && github.event_name == 'push'
    needs: [release, aur-publish]
    uses: DreamWeave-MP/StroggForge/.github/workflows/discord.yml@main
    secrets:
      WEBHOOK_URL: ${{ secrets.DW_TOOLS_CHANNEL_WEBHOOK }}

  nag-dependents:
    if: success() && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs: aur-publish

    strategy:
      matrix:
        target_repo: [DreamWeave-MP/DW-tools]

    uses: ./.github/workflows/dependent.yml

    secrets:
      DW_BOT_PAT: ${{ secrets.DW_BOT_PAT }}
    with:
      aur_package_name: ${{ needs.aur-publish.outputs.pkg_name }}
      target_repo: ${{ matrix.target_repo }}
