name: Corprus Crucible Manufacturing

on:
  push:
    branches: [main, master]
    tags: ['*']

jobs:
  release:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    permissions:
      contents: write
      id-token: write
    
    runs-on: ${{ matrix.os }}
    env:
      VT_API_KEY: ${{ secrets.VT_API_KEY }}
    
    uses: DreamWeave-MP/StroggForge/.github/actions/corprus-crucible@main
    with:
      binary_name: 's3lightfixes'
      include_files: 'Readme.md,LICENSE'
      rust_toolchain: 'stable'
      vt_api_key: ${{ env.VT_API_KEY }}
    
